$card-header-title-color: #fff;

.card {
  width: 300px;
  display: inline-block;
  margin: 10px;

  .card-header {
    cursor: pointer;

    &.correct {
      background: #51be51;

      .card-header-title {
        color: $card-header-title-color;
      }
    }

    &.incorrect {
      background: red;

      .card-header-title {
        color: $card-header-title-color;
      }
    }
  }
}
